---
import Layout from "@/layouts/Layout.astro"

import AboutMe from "@/components/AboutMe.astro"
import Briefcase from "@/components/icons/Briefcase.astro"
import CodeIcon from "@/components/icons/Code.astro"
import Experience from "@/components/Experience.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import Projects from "@/components/Projects.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"

const sectionTitleClass = "mb-8 flex items-center text-3xl font-semibold gap-x-4 text-black/80 dark:text-white"
---

<Layout
  title="Alex's Portfolio. Computer Engineer with +5 years of experience."
  description="Hire Alex to develop your new app. Applications and websites developer. Fullstack development."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-24">
      <Hero>
      </slot>
    </Hero>
    </SectionContainer>
    <div class="space-y-24">
    <SectionContainer id="experience">
      <h2
        class={sectionTitleClass}
      >
        <Briefcase class="size-8" />
        Experience
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="projects">
      <h2
        class={sectionTitleClass}
      >
        <CodeIcon class="size-8" />
        Projects
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="about-me">
      <h2
        class={sectionTitleClass}
      >
        <ProfileCheck class="size-8" />
        About me
      </h2>
      <AboutMe />
    </SectionContainer>
  </div>
  </main>
</Layout>