---
 const personalImageAlt = "Alex"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      My name is Alex, and I am a Software Engineer. <br>
      Currently, I am developing all kinds of <strong>applications and websites</strong>.
    </p>
    
    <p>
      I delved into the technological world at the age of 13, when I managed to create and 
      program a remote-controlled car with GPS using Arduino boards. 
      Since then, I have been connected to the world of development and strive
      to tackle all sorts of challenges.
    </p>
    
    <p>
      I have worked for both multinational corporations and startups.
      My greatest motivation is <strong>developing solutions for clients as a freelance</strong> and 
      being involved in the entire software lifecycle.
    </p>
  </div>

  <img width="200" height="200" src="/me.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
