---
import ExperienceItem from "./ExperienceItem.astro"
import {TAGS} from "./Tags.astro"

const EXPERIENCIES = [
  {
    date: "June 2022",
    title: "Software Engineer",
    company: "Kantar",
    description: 'Developed new functionalities, enhancements, and bug solutions for applications focused on analyzing audience data with a global user base.\n\n'
      + 'Contributed to the development of both Instar Analytics web and desktop applications using various technologies such as JavaScript, C++ and C#.\n\n'
      + 'Additionally, I provided new features for the advertising planning project, allowing big global companies in the audiovisual sector to analyze audience data in-depth.',
    tags: [TAGS.CPLUS, TAGS.CSHARP, TAGS.JAVASCRIPT, TAGS.JQUERY ]
  },
  {
    date: "December 2021",
    title: "Software Engineer",
    company: "Sparsity Technologies",
    description: 'Provided new features for clients websites in the sales and social network sectors.\n\n'
      + 'As a full-stack developer, I managed responsive and interactive front-end features using Vue and Bootstrap. Additionally, contributed to the development of back-end microservices using Golang and MySQL.\n\n'
      + 'Played a key role in the creation and implementation of graph-based recommendation algorithms for a videos social network.',
    tags: [TAGS.VUE,TAGS.BOOTSTRAP, TAGS.GOLANG, TAGS.DOCKER]
  },
  {
    date: "June 2021",
    title: "Cloud Engineer",
    company: "Deloitte",
    description: 'Managed cloud infrastructures for important and global clients in the food, biomedical and technological sectors using Microsoft Azure.\n\n'
      + 'Responsibilities included overseeing virtualization, managing cost structures, ensuring availability, and Oracle SQL among others.',
    tags: [TAGS.AZURE]
  },
  {
    date: "September 2019",
    title: "Junior Software Engineer",
    company: "Zetes S.A.",
    description: 'Created and enhanced functionalities for a website in the supply chain sector.\n\n'
      + 'The website was developed using C#/.NET and jQuery, utilized SQL Server, and was managed and deployed in Microsoft Azure.',
    tags: [TAGS.JAVASCRIPT, TAGS.HTML, TAGS.CSS, TAGS.CSHARP, TAGS.SQLSERVER, TAGS.AZURE,]
  },
]
---

<ol class="relative">
  {
    EXPERIENCIES.map((experiencies, index) => (
      <li>
        <ExperienceItem id={`experience_${index}`} {...experiencies} />
      </li>
    ))
  }
</ol>
