---
import ExperienceItem from "./ExperienceItem.astro"
import {TAGS} from "./Tags.astro"

const EXPERIENCIES = [
  {
    date: "June 2022",
    title: "Software Engineer",
    company: "Kantar",
    description:
      `Developed new functionalities, enhancements, and
      bug solutions for applications focused on analyzing 
      audience data with a global user base.\n
      Contributed to the development of both web and desktop 
      applications using various technologies such as JavaScript, C++ and C#.`,
    tags: [TAGS.CPLUS, TAGS.CSHARP, TAGS.JAVASCRIPT, TAGS.JQUERY ]
  },
  {
    date: "December 2021",
    title: "Software Engineer",
    company: "Sparsity Technologies",
    description:
      `Developed new functionalities for client websites in the sales and social network sectors.
      Full-stack developer, managing responsive and interactive front-end features using Vue and 
      Bootstrap.\n
      Additionally, contributed to the development of back-end microservices using Golang 
      and MySQL.`,
    tags: [TAGS.VUE,TAGS.BOOTSTRAP, TAGS.GOLANG, TAGS.DOCKER]
  },
  {
    date: "June 2021",
    title: "Cloud Engineer",
    company: "Deloitte",
    description:
      `Managed cloud infrastructures for global clients in the food, biomedical, 
      and technological sectors using Microsoft Azure.\n 
      Responsibilities included overseeing virtualization, managing cost structures, ensuring availability, 
      and Oracle SQL among others.`,
    tags: [TAGS.AZURE]
  },
  {
    date: "September 2019",
    title: "Junior Software Engineer",
    company: "Zetes S.A.",
    description:
      `Developed functionalities for a website in the supply chain sector. \n
      The website was built with C#/.NET and jQuery, utilized SQL Server, and 
      was managed and deployed in Microsoft Azure.`,
    tags: [TAGS.JAVASCRIPT, TAGS.HTML, TAGS.CSS, TAGS.CSHARP, TAGS.SQLSERVER, TAGS.AZURE,]
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIES.map((experiencies) => (
      <li class="">
        <ExperienceItem {...experiencies} />
      </li>
    ))
  }
</ol>
